@model FlutterWeb.Client.Models.PostViewModel

<div class="columns is-centered" id="PostView" data-id =@Model.CommentOfId>
    <div class="column is-one-third filters-container">
        <h1 class="is-size-3">Orgirinal Post</h1>
        <div  id="OGPost"> </div>
    </div>
</div>
<div class="columns is-centered">
    <div class="column is-one-third is-post-container">
        <div  id="FeedContainer"> </div>
    </div>
</div>