<div class="columns is-centered" id="postpage">
    <form asp-controller="Post" asp-action="/AddPost" method="POST">
        <textarea class="textarea" placeholder="Your post here" id="Content" onchange="UpdatePostTex()"></textarea>
        <button class="button is-Flutter" onclick="HandleText()">Post</button>
      </form>
</div>
