<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - FlutterPractice</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
    integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="~/css/site.css" />
</head>



<body>

  @* example asp tag fo nav link <a asp-area="" asp-page="/Index">Home</a> *@

  <header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <input type="checkbox" id="toggler" role="button" class="toggler" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample" />
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="../bat (1).png">
        </a>

        <label for="toggler" class="navbar-burger burger">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </label>
      </div>


      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Home
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/Feed">
                Feed
              </a>
              <a class="navbar-item" href="/Users">
                Returning User
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <h1 class="is-cust-font navbar-item" id="Username">
          Login to Post
        </h1>

        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-Flutter" href="/SignUp">
              Sign up
            </a>
            <a class="button is-FlutterLight" href="/Login">
              Log in
            </a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main role="main" class="pb-3">
    @RenderBody()
  </main>


  <button id="test">test</button>


  <footer>

    &copy; 2021 - FlutterPractice - <a asp-area="" asp-page="/Privacy">Privacy</a>
  </footer>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>

  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
