<div class="columns is-centered">
    <div class="column is-one-third is-post-container">
    
                <h1 class="is-size-1">Login Failed</h1>
                <br/>
                <div class="control">
                    <a href="/SignUp" class="button is-Flutter" >Sign up</a>
                </div>
                <br/>
                <div class="control">
                    <a href="Login" class="button is-Flutter" >Login</a>
                </div>
                <br/>
                
                <br/>
            
       
    </div>