<div class="columns is-centered" id="loginpage">
    <div class="column is-one-third is-post-container">
        <form asp-controller="User" asp-action="LoggingIn" method="GET">
            <div class="field">
                <label class="label">UserName</label>
                <div class="control">
                    <input class="input" placeholder="UserName"></input>
                </div>
            </div>
            <div>
                <label class="label">Password</label>
                <div class="control">
                    <input class="input"  placeholder="Password"></input>
                </div>
            </div>
               <div class="field">
                <div class="control">
                    <button class="button is-Flutter" type="submit">Login</button>
                </div>
            </div>
        </form>
    </div>
