<div class="columns is-centered is-vcentered">

  <div class="column is-one-third is-white-container level">
      <div class="level-left">
        <img src="~/bat (1).png" alt="purple bat" class="is-small-bat">
        <img src="~/bat (1).png" alt="purple bat" class="is-small-bat">
        <img src="~/bat (1).png" alt="purple bat" class="is-small-bat">
        <img src="~/bat (1).png" alt="purple bat" class="is-small-bat">
        <img src="~/bat (1).png" alt="purple bat" class="is-small-bat">
      </div>
  </div>

  <div class="column is-one-third is-white-container">
    <h1 style="font-size:80px" class="has-text-centered"> Feature Coming Soon! </h1>
    <h2 style="font-size:20px" class="has-text-centered"> We're sorry, that feature isn't quite ready</h2>
  </div>

  <div class="column is-one-third is-white-container level">
        <div class="level-right">
          <img src="~/bat (1).png" alt="purple bat" class="is-small-bat">
          <img src="~/bat (1).png" alt="purple bat" class="is-small-bat">
          <img src="~/bat (1).png" alt="purple bat" class="is-small-bat">
          <img src="~/bat (1).png" alt="purple bat" class="is-small-bat">
          <img src="~/bat (1).png" alt="purple bat" class="is-small-bat">
        </div>
  </div>

</div>
