<div class="columns" id="FeedPage">
    <div class="column is-one-third">
        <div class="filters-container">
            <div class="columns is-centered">
                <h1 class="is-size-1 is-weight-bold has-text-black">View By:</h1>
                <hr>
            </div>
            <div class="columns is-centered">
                <button class="button is-Flutter is-long">View By Date</button>
                <hr>
            </div>
            <div class="columns is-centered">
                <button class="button is-Flutter is-long">View Most Commented</button>
                <hr>
            </div>
            <div class="columns is-centered">
                <button class="button is-Flutter is-long">View Friends Only</button>
                <hr>
            </div>
        </div>
    </div>
    <div class="column is-one-third is-post-container">
                <div id="FeedContainer"></div>

    </div>
</div>