.is-Flutter{
  background-color: blueviolet !important;
  color: antiquewhite !important;
}
.is-Flutter:hover{
  background-color: rgb(209, 28, 118) !important;
  color: black!important;
}
.is-FlutterLight{
  background-color: pink !important;
  color:black!important;
}
.is-FlutterLight:hover{
  background-color: rgb(209, 28, 118) !important;
  color: black!important;
}

ul.list{
  color:black !important;
  font-size: large;
}
.is-landing-button{
  width: 33%;
}
.is-post-container{
  padding-top: 5vh;
  min-height:100vh;
  background-color: rgb(112, 80, 112);
  border-radius: 25px;
  margin-left: 15px;
  margin-right: 15px;
  padding-right: 15px;
  padding-left: 15px;
}
@media only screen and (min-width:772px){
  .is-purple-container{
    max-width: 50vw;
    background-color: rgb(80, 8, 114) ;
    min-height: 100vh;
  }
  
}
@media only screen and (min-width:772px){
  .is-white-container{
    min-height: 100vh;
    max-width: 50vw;
  }
}
@media only screen and (max-width:772px){
  .is-mobile-hidden{
    display: none;
  }
}
.leftcentered {
  position: relative;
  top: 30%;
  left: 12.5%;
  margin-top: -50px;
  margin-left: -100px;
}
@media only screen and (min-width:1420px){
  .rightcentered {
    position: fixed;
    top: 33%;
    right: 10%;
  }

  
}
.is-post{
  min-height: 20vh;
  min-width: 20vw;
  background-color: white;
  border-color: rgb(27, 5, 27);
  border-style: solid;
  border-width: 5px,10px,5px.10px;
}
.islanding-holder{
  min-height: 100vh;
}
.is-small-bat{
  max-height: 10vh;
  max-width: 10vw;
}
.is-cust-font{
  font-family: 'Lobster', cursive;
  font-size: larger;

}
a{
  color: black;
}
a:hover{
  color: blueviolet;
}
.is-long{
  max-width:15vw;
  min-width:15vw;
}
.filters-container{
  min-height: 25vh;
  background-color: rgb(112, 80, 112);
  border-radius: 25px;
  margin-left: 15px;
  padding-left: 5vw;
  padding-right: 5vw;
}
main{
  margin-top: 15px;
}
.is-post-icon{
  max-width: 5vh;
  max-height: 5vh;
}
.is-home-line{
  color: blueviolet !important;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 1px 0 #000, -2px 0 0 #000;
  -webkit-font-smoothing: antialiased !important;
  font-size: 5vh !important;
}

/* hamburger menu solution 
needs toggler checkbox and and label for toggler */
.toggler {
  display: none;
}
.navbar .toggler:checked + .navbar-brand .burger span:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(45deg);
  transform: translateY(5px) rotate(45deg);
}
.navbar .toggler:checked + .navbar-brand .burger span:nth-child(2) {
  opacity: 0;
}
.navbar .toggler:checked + .navbar-brand .burger span:nth-child(3) {
  -webkit-transform: translateY(-5px) rotate(-45deg);
  transform: translateY(-5px) rotate(-45deg);
}
@media screen and (max-width: 1024px) {
  .navbar .toggler:checked ~ .navbar-menu {
    display: block;
  }
  /* We don't want menu to be displayed on mobile by default */
  .navbar-menu {
    display: none;
  }
}
/* end Bulma Hamburger fix */